.caseTracking{
    font-family: 'Audiowide', sans-serif;
    background-color: #e8dfc5;
    margin: 1rem auto;
    width: 100%;
    padding: 0.7rem;
    
}
.ctHeadline {
    background-color: black; 
    color: white; 
    height: 2.4rem;
    border-radius: 5px;
    
  }
.ctHeadline p{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.caseBox{
    background-color: #B09067;
    height: 70rem;
    border: 1px solid black;
}
.trackStatus{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

}
.trackIcons{
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
.trackContent p{
    font-size: 1rem;
    word-wrap: break-word;
}
.arrow{
    font-size: 2rem;
}
.back-btn{
    margin: 2rem;
}
