.about {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
}

.maincontainer {
  display: flex;
  align-items: center;
  

}
.container1{
  width: 50%;
}
.container2{
  width: 50%;
}

.box1 {

  background-color: grey;
  margin: 34px;
  padding: 34px;
  height: 150px;
  text-align: center;
  font-size: 1.8rem;

}

.box2 {
  background-color: grey;
  margin: 34px;
  padding: 34px;
  height: 150px;
  text-align: center;
  font-size: 1.8rem;


}



.boxbutton {
  text-align: end;
  flex-direction: column;
  display: flex;
  position: absolute;
  margin-left: 26rem;
  margin-top: -5rem;
}


.vision {
  margin-right: 21px;
  padding: 37px;
  color: white;
}

.vision p {
  font-size: 17px;
  color: white;

}

.about2 {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
  
}

.aboutpage {
  width: 100%;
  color: white;
  padding: 34px;

}

.aboutpage p {
  font-size: 1.2rem;
}