* {
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  /* Add space between the flex items */
}

.card {
  display: flex;
  width: 45vw;
  margin: 10px;
  border-radius: 1px;
}

.card {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.card-body {
  
  padding: 10px;
  margin: 10px;
}
.card-text{
  font-size: 1.5rem;
}
.vision {
  margin: 10px;
  padding: 10px;
  width: 45vw;
  color: white;
  word-wrap: break-word;
}
.box1{
  background-color: #e2dbd3;
  height: 12em;
  width: 34em;
  margin-top: 4rem;
}
.box2{
  background-color: #B09067;
  height: 12em;
  width: 34em;

}

.about {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
}
.abtheadings{
  color: #B09067;
}
.abtboxcontent{
  font-size: 1.2em;
}

.abtbuttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.about2 {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
  margin-top: -11px;
}

.aboutpage {
  width: 100%;
  color: white;
  padding: 34px;
}

.aboutpage p {
  font-size: 1.2rem;
}