* {
  box-sizing: border-box;
  
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  
}

.card {
  display: flex;
  width: 49vw;
  margin: 10px;
  border-radius: 1px;
}

.card {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.card-body {
  
  padding: 10px;
  margin-left: 10px;
}

.vision {
  margin: 10px;
  padding: 10px;
  color: white;
  word-wrap: break-word;
}


.about {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
}
.abtheadings{
  color: #B09067;
}


.abtbuttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.about2 {
  background-color: black;
  width: 100vw;
  font-family: 'Audiowide', sans-serif;
  margin-top: -11px;
}

.aboutpage {
  width: 100%;
  color: white;
  padding: 34px;
}


/* CSS for 17-inch Laptop */
@media screen and (min-width: 1367px) {
  .vision {
    width: 59vw;
  }
  .abtboxcontent{
    font-size: 1.6rem;
  }
  .aboutpage p {
    font-size: 1.9rem;
  }
  .card-text{
    font-size: 1.7rem;
  }
  .box1{
    background-color: #e2dbd3;
    height: 12.5em;
    width: 34em;
    margin-top: 4rem;
    margin-left: 45px;
  }
  .box2{
    background-color: #B09067;
    height: 12.5em;
    width: 34em;
    margin-left: 45px;
  
  
  }
}

/* CSS for 14-inch Laptop */
@media screen and (max-width: 1366px) {
  .vision{
    width: 45vw;
  }
  .abtboxcontent{
    font-size: 1.2rem;
  }
  .aboutpage p {
    font-size: 1.3rem;
  }
  .card-text{
    font-size: 1.5rem;
  }
  .box1{
    background-color: #e2dbd3;
    height: 12em;
    width: 32em;
    margin-top: 4rem;
    margin-left: 45px;
  }
  .box2{
    background-color: #B09067;
    height: 12em;
    width: 32em;
    margin-left: 45px;
  
  
  }
}