.contact{
  height: 280px;
  width: 100vw;
  background-color: #0c1707;
  color: #e8dfc5;
}

.content1{
padding-top: 30px;
padding-left: 50px;
}
#c1{
display: flex;
position: absolute;
/* padding-left: 1040px; */
}
.c2{
display: flex;
position :absolute;
margin-top: -10px;
/* padding-left: 1000px; */
text-align: right;
}
.nav{

margin-top: 30px;
font-size: 15px;

}

.nav ul li{
list-style-type: none;
display: inline;
margin: 0px 20px;

}
#tags{
color:  #e8dfc5;
text-decoration: none;
}


/* CSS for 17-inch Laptop */
@media screen and (min-width: 1367px) {
  .content2{
  
    padding-left: 15rem;
    
    }
  .c1{
  
    padding-left: 15rem;
  
  }
  .c2{
  display: flex;
  margin-top: 20px;
  padding-left: 15rem;
  
  
  }
}

/* CSS for 14-inch Laptop */
@media screen and (max-width: 1366px) {
  .content2{
  
    padding-left: 1rem;
    
    }
  .c1{
  padding-left: 0;
    /* padding-left: 15rem; */
  
  }
  .c2{
  display: flex;
  margin-top: 20px;
  /* padding-left: 15rem; */
  
  
  }
}