.contact {
  background-color: #0c1707;
  color: #e8dfc5;
}
.contactContainer{
  display: flex;
  justify-content: space-between;

}
.contactLeft{
  padding: 1rem;
}

.contactCopyright{
  text-align: center;
}

/* CSS for 17-inch Laptop */
/* @media screen and (min-width: 1367px) {
 

  .content1 {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 1.3rem;
  }

} */

/* CSS for 14-inch Laptop */
/* @media screen and (max-width: 1366px) {
 

  .content1 {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 1.1rem;
  }
} */