

*{
  
  font-family: 'Audiowide', sans-serif;
  
  
}
.HOME{
  background-image: url(../Assets/scourt.jpeg);
  border-width: 10px;
  border-style: solid;
  border-color: #38303b;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat center center fixed; */
  margin: 0px;
  padding: 0;

}



#headline{
  font-size: 90px;
  text-align: center;
  color: #E2DBD3;
  font-weight: 400;
  word-wrap: break-word;
}


#nyaya{
  margin-top: 110px;
  margin-bottom: 34px;
}
#case{
  font-size: 50px;
  font-family: 'Audiowide', sans-serif;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  
}

.drop{
  display: flex;
  justify-content: flex-end;
  padding: 34px;
  height: 34px;
  
;
}

#first{
  width: 11rem;
}

