
*{
  margin-top: -6px;
  
  
}
.HOME{
  background-image: url(../Assets/scourt.jpeg);
  background-size: cover;
  background-repeat: no-repeat center center fixed;
  margin: 0px;
  padding: 0;
  height: 44rem;
  width: 100%;

}

.pagecolor{
  background-color: black;
}

#headline{
  font-size: 90px;
  text-align: center;
  color: #E2DBD3;
  font-weight: 400;
  word-wrap: break-word;
}


#nyaya{
  margin-top: 110px;
  margin-bottom: 34px;
}
#case{
  font-size: 50px;
  font-family: 'Audiowide', sans-serif;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  
}

.drop{
  display: flex;
  justify-content: flex-end;
  padding: 34px;
  height: 34px;
  
;
}

#first{
  width: 11rem;
}

.box1{
  
  background-color: grey;
  width: 32rem;
  margin: 34px;
  padding: 34px;
  height: 12rem;
}
.box2{
  background-color: grey;
  width: 32rem;
  margin: 34px;
  padding: 34px;
  height: 12rem;
}
.box1 p{
  margin-left: 40px;
  font-size: 2.5rem;

}
.box2 p{
  margin-left: 40px;
  font-size: 2.5rem;

}

.boxbutton{
  text-align: end;
}
.maincontainer{
  display: flex;
  
}

.vision{
  margin-top: 34px;
  margin-right: 21px;
  padding: 34px;
  background-color: black;
  color: white;
  height: 12rem;
}
.vision p{
  font-size: 1.3rem;
  color: white;

}
.aboutpage{
  padding: 34px;
  width: 100%;
  color: white;
}
.aboutpage p{
  font-size: 1.8rem;
}