.HOME {
  background-image: url(../Assets/home.jpg);
  border-style: solid;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0;
  height: 100vh;
  font-family: 'Audiowide', sans-serif;

}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

<<<<<<< HEAD
.buttons button {
  opacity: 0.7; /* Initial opacity */
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

.buttons button:hover {
  opacity: 1; /* Opacity on hover */
=======
.font button{
  opacity: 70%;
  border-radius: 5px;
>>>>>>> bab6b3773f28d745371645e330d596589678047c
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 22px;
}



/* CSS for 17-inch Laptop */
 @media screen and (min-width: 1367px) {
  .HOME {
    height: 43rem;
  
  }
  #nyaya {
    margin-top: 100px;
    font-size: 10rem;
    font-weight: 400;

  }

  #case {
    font-size: 5rem;
    font-family: 'Audiowide', sans-serif;
  }

  #headline {
    font-size: 90px;
    text-align: center;
    color: white;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 6rem;
  }

  

  .font button {
    margin-right: 3rem;
    width: 6rem;
    font-size: 1.2rem;

  }
} 

/* CSS for 14-inch Laptop */
 @media screen and (max-width: 1366px) {
 
  .font button {
    margin-right: 3rem;
    width: 7rem;
    font-size: 1rem;

  }

 

  #nyaya {
    margin-top: 100px;
    font-size: 7rem;
    font-weight: 700;

  }

  #case {
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
  }

  #headline {
    font-size: 90px;
    text-align: center;
    color: white;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 0;
  }
} 
/* phone */
@media screen and (max-width: 768px) {
  .HOME {
    height: 60vh;

  }
  
  #nyaya {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 700;

  }

  .headline {
    font-size: 2.5rem;
    margin-top: 8rem;

  }

  #case {
    font-size: 1rem;
  }

  .homeButtons {
    font-size: 0.5rem;
  }
}