.about{
    background-color: black;
  }
  
  .maincontainer{
      display: flex;
      
    }
  .box1{
    
      background-color: grey;
      width: 32rem;
      margin: 34px;
      padding: 34px;
      height: 12rem;
    }
  .box2{
      background-color: grey;
      width: 32rem;
      margin: 34px;
      padding: 34px;
      height: 12rem;
    }
  .box1 p{
      margin-left: 40px;
      font-size: 2.4rem;
    
    }
  .box2 p{
      margin-left: 40px;
      font-size: 2.4rem;
    
    }
    
    .boxbutton {
      text-align: end;
      flex-direction: column;
      display: flex;
      position: absolute;
      margin-left: 26rem;
      margin-top: -5rem;
  }
  
    
  .vision{
      margin-top: 34px;
      margin-right: 21px;
      padding: 34px;
      background-color: black;
      color: white;
      height: 12rem;
    }
  .vision p{
      font-size: 1.3rem;
      color: white;
    
    }