.case-legal-form{
  margin: 3rem;
  justify-content: center;

 }
.caseformEst {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Adjusted to two columns */
  gap: 20px;
  padding: 20px;
  margin-left: 3rem;
}

.caseformCasedetails {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 20px;
  padding: 20px;
  margin-left: 3rem;
}

 .case-file{
  background-color: #eaece1;
 }
 .caseHeads{
  font-size: 20px;
  background-color: #C1B192;
  width: 90vw;
  padding-left: 1rem;
  margin: 1.5rem;
  border-radius: 5px;
 }
 #csHeading {
  text-align: center;
  padding: 1rem;
  font-family: 'Audiowide', 'Sans-serif';
}

#cfilingCNR {
  text-align: center;
}
.casefileInline,
.col-sm-5 {
  display: flex;
  flex-direction: row;
}