CaseLegalForm.css
.case-legal-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  /* h1, h2 {
    color: #333;
  } */
  
  p {
    margin: 5px 0;
  }
  