

.body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url("../Assets/scourt.jpeg");
}
.transparent-box {
  width: 1000px; 
  height: 600px; 
  background-color: rgba(12,23,7,0.5); 
  border: 2px solid #333; 
  margin-left: 50px; 
  box-sizing: border-box; 
  color: #E2DBD3;
}
.omg{
display: flex;
margin-left: 100px;
}
h4{
margin-top: 20px;
margin-bottom: 5px;}
.c{
padding-left: 750px;
margin-top: -50px;
}
#font{   
  font-family: Audiowide , sans-serif;
  text-align: center;
  margin-top: 30px;
}
.a{
  padding-left: 110px;
  margin-top: 20px;
  font-size: 25px;
}
.b{

  padding-left: 250px;}
.y   {
margin-bottom: 20px;
}
.x{
padding-top: 20px;
padding-left: 450px;
}
.i{
margin-top: 20px;
margin-bottom: 20px;
}
.d{
  padding-left: 150px;
}
.bn{
margin-top: 10px;
  height: 25px;
  width: 100px;    
}
.m{
padding-left: 50px;
}
.o{
height: 30px;
width: 250px;
margin-left: 100px;
margin-top: 20px;
}
.p{
height: 33px;
width: 100px;
}
.backbtn{
height: 25px;
width: 80px;
margin-top: 40px;
margin-left: 70px;

}
#back{
color:black;
text-decoration: none;
}
.options-container {
display: flex;
justify-content: space-between;
margin-left: 150px;
}

.options {
margin-right: 10px;
}