*{
    margin: 0;
}
 
 body{
    background-color: #e8dfc5;
  
  }
 


.navbar4{
    background-color: #E8DFC5;


}

.container{
    display: flex;
    justify-content: space-between;
    font-family: 'Audiowide', sans-serif;
    height: 60px;
    

}

.navbar4 ul{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 34px;
}
.navbar4 ul li {
    list-style-type: none;
    margin: 44px;
    

}
.navbar4 ul li a{
    text-decoration: none;
    color: black;
}