*{
    margin: 0 ;

}
.logonyaya{
    font-size: 34px;
}
.logoheading{
    margin-left: 0px;
}
.logosubheading{
    font-size: 18px;
    margin-top: -19px;
    margin-left: 4px;
}
.navbar2{
    background-color: #E8DFC5;


}
.logo{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    font-family: 'Audiowide', sans-serif;


}
/* .logoimg{
    height:60px;
    width: 60px;
    margin-top: 10px;
    background-color: white;
    
} */
.navbar2 ul{
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.navbar2 ul li {
    list-style-type: none;
    margin: 44px;
}
.navbar2 ul li a{
    text-decoration: none;
    color: black;
}
.registrationform{
    padding: 8px;
    margin-left: 167px;
    font-size: 25px;
    margin-top: -29px;
    font-family: 'Audiowide', sans-serif;

}
.options{
    display: flex;
    justify-content: space-evenly;

}
.radiogrp{
    display: flex;
    padding-right: 7.5rem;
    justify-content: flex-start;
}
.options1{
    margin-right: 13rem;
}
.options2{
    margin-right: 15rem;
}
.options3{
    margin-right: 20px;
}