.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  .centered-container > div {
    width: 600px; 
    height: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #EAECE1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .elements{
    margin-top: 20px;

  }