.sidebar{
    margin-top: 15px;
    background-color: #0c1707;
    height: 627px;
    width: 350px;
  
  }
  .sidebar ul{
    list-style: none;
    padding-top: 250px;
    margin-left:10px;
  color: #EAECE1;
  
   
  }
  .sidebar li{
    cursor: pointer;
    margin-bottom: 45px;
  }
  .logout{
    margin-left: 100px;
  }
  ul li :active{
    background-color: white;
  }