

 .title {
    font-family: Audiowide, sans-serif;
    margin-top: 40px;
    margin-left: 60px;
  }


.updatebtn{
    width: 100px;
    font-size: 15px;
    margin-left: 900px;
    background-color: #0c1707;
    opacity: 50%;
    border-color: black;
    color: white;
}
.data {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 23px;
  }
  
  .fields {
    font-size: 20px;
    padding-left: 50px;
  }
  
  #detailsTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #detailsTable th,
  #detailsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #detailsTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #detailsTable tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  
  #detailsTable th {
    background-color: black;
    color: white;
  }