
.title {
    font-family: Audiowide, sans-serif;
    margin-top: 40px;
    margin-left: 60px;
  }
  
  .uploadbtn {
    width: 100px;
    font-size: 15px;
    margin-left: 900px;
    background-color: #0c1707;
    opacity: 50%;
    border-color: black;
    color: white;
  }
 
  
  .data {
    margin-left: 60px;
    font-size: 20px;
  }
  
  .fields {
    font-size: 20px;
    padding-left: 50px; 
  }
  
  #fileTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #fileTable th, #fileTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #fileTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  #fileTable tr:nth-child(odd) {
    background-color: #e0e0e0; 
  }
  #fileTable th {
    background-color:black;
    color: white;
  }
  