/* CSS for 17-inch Laptop */
@media screen and  (min-width: 1367px) {
    .fcontainer {
        background-color: #e8dfc5;
        height: 800px;
        padding: 10px;
        padding-left: 60px;

    }

    .fmainblock {
        display: flex;
        justify-content: space-around;
    }

    .fheading {
        font-size: 30px;
        padding: 40px;
        margin-top: 30px;
        padding-bottom: 80px;
        font-family: 'Audiowide', sans-serif;


    }

    .fpara {
        margin-top: 60px;
        padding: 50px;
        font-size: 2rem;
        margin-right: 6rem;
    }

    .fblock2 {
        word-spacing: 13px;
        font-family: 'Audiowide', sans-serif;
        margin-top: -12px;
        padding: 50px;
        font-size: 10px;
        padding-left: 10px;
    }


    .hr {
        height: 3px;
        width: 40rem;
        color: solid black;
        background-color: black;
        border: none;
    }

    .bigbox {
        overflow: auto;
        max-height: 480px;
        position: absolute;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }


    .bigbox::-webkit-scrollbar {
        width: 0;
    }

    .labels {
        padding-top: 17px;

    }

    .Font2 {
        font-size: 2rem;
        font-family: 'Audiowide', sans-serif;
    }
    .Font3 {
        font-size: 1rem;
        font-family: 'Audiowide', sans-serif;
    }
    .Font4 {
        font-size: 1.5rem;
        font-family: 'Outfit';
        text-wrap: wrap;
    }
    .Font5 {
        font-size: 1rem;
        font-family: 'Outfit';
        text-wrap: wrap;
    }
    .summarypara{
        width: 30vw;
        text-wrap: wrap;
    }
    
}

/* CSS for 14-inch Laptop */
@media screen and (min-width: 769px) and (max-width: 1366px) {
    .fcontainer {
        background-color: #e8dfc5;
        height: 800px;

    }

    .fmainblock {
        display: flex;
        justify-content: space-around;
    }

    .fheading {
        font-size: 30px;
        padding: 40px;
        margin-top: 30px;
        padding-bottom: 80px;
        font-family: 'Audiowide', sans-serif;


    }

    .fpara {
        margin-top: 60px;
        padding: 50px;
        font-size: 2rem;
    }

    .fblock2 {
        word-spacing: 0.3rem;
        font-family: 'Audiowide', sans-serif;
        margin-top: 1rem;
    }


    .hr {
        height: 3px;
        width: 50vw;
        flex-wrap: wrap;
        color: solid black;
        background-color: black;
        border: none;
    }

    .bigbox {
        overflow: auto;
        max-height: 500px;
        position: absolute;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

    }

    .bigbox::-webkit-scrollbar {
        width: 0;
    }

    .labels {
        padding-top: 17px;

    }

    .Font2 {
        font-size: 2rem;
        font-family: 'Audiowide', sans-serif;
    }
    .summarypara{
        width: 40vw;
        text-wrap: wrap;
    }

    
}

/* phone  */
@media screen and (max-width: 768px) {
    .fcontainer {
        background-color: #e8dfc5;

    }
    .fpara {
        padding: 1rem;
    }
    
    .fheading {
        font-size: 30px;
        font-family: 'Audiowide', sans-serif;
    }
    .fblock2 {
        word-spacing: 0.3rem;
        font-family: 'Audiowide', sans-serif;
        margin-top: 1rem;
        padding: 1rem;
    }
    
    .hr {
        height: 3px;
        flex-wrap: wrap;
        color: solid black;
        background-color: black;
        border: none;
    }
    
    .bigbox {
        overflow: auto;
        padding: 1rem;
        max-height: 480px;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }
    
    .bigbox::-webkit-scrollbar {
        width: 0;
    }
    .Font2 {
        font-size: 1.5rem;
        font-family: 'Audiowide', sans-serif;
    }

}