/* .HOME {
  background-image: url(../Assets/home.jpg);
  border-style: solid;

  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0;
  height: 100vh;
  font-family: 'Audiowide', sans-serif;

}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 22px;
}
 */
 /* Update your existing styles for .HOME */
 .HOME {
  background-image: url(../../Assets/home.jpg);
  border-style: solid;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Use min-height to ensure it takes up at least 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Audiowide', sans-serif;
  overflow: hidden; /* Added overflow: hidden to ensure no scrolling */
  
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 22px;
}

#nyaya {
  margin-top: 100px;
  font-size: 7rem;
  font-weight: 700;
}

#case {
  font-size: 50px;
  font-family: 'Audiowide', sans-serif;
}

#headline {
  font-size: 90px;
  text-align: center;
  color: white;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 0;
}

#first button {
  margin-right: 3rem;
  width: 7rem;
  font-size: 1rem;
}

/* Additional styles for preventing margin/padding on body and html */
body, html {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1367px) {
  .HOME {
    height: 43rem;
  
  }
  #nyaya {
    margin-top: 100px;
    font-size: 10rem;
    font-weight: 400;

  }

  #case {
    font-size: 5rem;
    font-family: 'Audiowide', sans-serif;
  }

  #headline {
    font-size: 90px;
    text-align: center;
    color: white;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 6rem;
  }

  

  #first button {
    margin-right: 3rem;
    width: 6rem;
    font-size: 1.2rem;

  }
} 

/* CSS for 14-inch Laptop */
 @media screen and (max-width: 1366px) {
  /* .HOME {
    
    border-width: 30px;
  } */
  #first button {
    margin-right: 3rem;
    width: 7rem;
    font-size: 1rem;

  }

 

  #nyaya {
    margin-top: 100px;
    /* font-size: 90%; */
    font-size: 7rem;
    font-weight: 700;

  }

  #case {
    font-size: 50px;
    font-family: 'Audiowide', sans-serif;
  }

  #headline {
    font-size: 90px;
    text-align: center;
    color: white;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 0;
  }
} 