.sidebar {
  padding-top: 1rem;
  background-color: #0c1707;
  height: 100vh;
  width: 25vw;
  overflow: hidden;

}


.Litigantprofile {

  width: 10vw;
  margin: auto;
  text-align: center;

}

.profileImg{
  background-image: url(../../Assets/Profile.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;

}

.lsidebarName {
  font-family: 'Audiowide', sans-serif;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
}

.sidebar ul {
  list-style: none;
  color: #EAECE1;
  text-align: start;
  margin-left: 3rem;
  margin-top: 5rem;

}

.sidebar li {
  cursor: pointer;
  margin-bottom: 45px;
}
.sidebar .logout{
  margin-left: 10rem;
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
  .sidebar{
    width: 27vw;
    float: left;
  }
  

.Litigantprofile {

  width: 10vw;
margin-left: 5rem;
}
.sidebar ul {
  margin-left: 0rem;
}
.sidebar .logout{
  margin-left: 7rem;
}
}