.Litigantprofile {
  height: 300px;
  width: 350px;
  
}

.profileImg{
  background-image: url(../../Assets/Profile.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  margin-left: 1rem;
  
}
.lsidebarName{
  font-family: 'Audiowide', sans-serif;
  color: white;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: -53px;
}


/* dl, ol, ul {
  margin-top: -253px;
  margin-bottom: 1rem;
} */
.sidebar {
  margin-top: 15px;
  padding-top: 34px;
  background-color: #0c1707;
  height: 55rem;
  width: 25vw;
  border-radius: 5px;


}
.sidebar ul {
  list-style: none;
  margin-left: 10px;
  color: #EAECE1;


}

.sidebar li {

  margin-bottom: 45px;
}

.logout {
  margin-left: 100px;
}

