
.reqform{
    margin-left: 23rem;
    margin-top: 30px;
    width: 900px;
    height: 570px;
    border: 3px solid #000;
    padding: 10px; 
    background-color: #eaece1;
}
.req{
    margin-top: 40px;
    margin-left: 90px;
}
.inputs{
    background-color: grey;
}